<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: commonHead('メニュー一覧')}"></head>

<body>

<div th:replace="~{fragments/admin-header :: adminHeader}"></div>

<main class="section container">

    <h1>メニュー一覧</h1>

    <table> 
        <thead>
            <tr>
                <th>ID</th>
                <th>料理名</th>
                <th>価格</th>
            </tr>
        </thead>
        
        <tbody>
            <!-- メニューのリストをループして表示 -->
            <tr th:each="menu : ${menus}">
                <td th:text="${menu.id}"></td>
                <td th:text="${menu.name}"></td>
                <td th:text="${menu.price}"></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/admin/menu/add}">新しいメニューを追加</a>

</main>

<div th:replace="~{fragments/admin-footer :: adminFooter}"></div>
<div th:replace="~{fragments/scripts :: commonScripts}"></div>

</body>

</html>
