<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
</head>

<body>
    <h1>ユーザー一覧</h1>

    <a th:href="@{/admin/users/add}">新規ユーザーを追加</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ユーザー名</th>
                <th>ロール</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" >編集</a>
                    <a th:href="@{/admin/users/delete/{id}(id=${user.id})}" onclick="return confirm('本当に削除しますか？');">削除</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/admin/index}">ダッシュボードに戻る</a>

</body>

</html>
