<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: commonHead('メニュー一覧')}"></head>

<body class="bg-light">

    <div th:replace="~{fragments/public-header :: publicHeader}"></div>

    <main class="section container">

        <div class="menu-page__container">

            <h1 class="section-title">お品書き</h1>
    
            <table class="menu-table">
                <thead>
                    <tr>
                        <th class="menu-table__header-cell">料理名</th>
                        <th class="menu-table__header-cell">価格</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="menu : ${menus}">
                        <td class="menu-table__cell menu-table__cell--name" th:text="${menu.name}">料理名</td>
                        <td class="menu-table__cell menu-table__cell--price" th:text="${#numbers.formatInteger(menu.price, 0, 'COMMA')} + '円'">0円</td>
                    </tr>
                </tbody>
            </table>

            <div class="menu-page__back-link-container">
                <a th:href="@{/}" class="btn btn--tertiary">トップページに戻る</a>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: siteFooter}"></div>
    <div th:replace="~{fragments/scripts :: commonScripts}"></div>

</body>

</html>
