<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: commonHead('予約完了')}"></head>

<body>

    <div th:replace="~{fragments/public-header :: publicHeader}"></div>

    <main class="section container">
        <h1>予約が完了しました</h1>
        <a th:href="@{/}" class="btn btn--primary">トップページに戻る</a>
    </main>
    
    <div th:replace="~{fragments/footer :: siteFooter}"></div>
    <div th:replace="~{fragments/scripts :: commonScripts}"></div>

</body>

</html>
