<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="adminHeader">
   
<nav class="admin-navbar">

    <div class="admin-nav-left">
        <div class="admin-title">
            管理画面
        </div>
        <button class="menu-toggle" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="admin-nav-links">
            <li><a th:href="@{/admin/index}">ダッシュボード</a></li>
            <li><a th:href="@{/admin/menu}">メニュー管理</a></li>
            <li><a th:href="@{/admin/reservation}">予約管理</a></li>
            <li><a th:href="@{/admin/users}">ユーザー管理</a></li>
        </ul>
    </div>

    <form th:action="@{/logout}" method="post" class="logout-container">
        <button type="submit" class="btn btn--tertiary btn--small">ログアウト</button>
    </form>

</nav>



</div>
</body>
</html>