<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="adminHeader">
   

<nav class="admin-navbar">

    <div class="admin-title">
        管理画面
    </div>

    <ul>
        <li><a th:href="@{/admin/index}">ダッシュボード</a></li>
        <li><a th:href="@{/admin/menu}">メニュー管理</a></li>
        <li><a th:href="@{/admin/reservation}">予約管理</a></li>
        <li><a th:href="@{/admin/users}">ユーザー管理</a></li>
    </ul>

    <form th:action="@{/logout}" method="post" class="logout-container">
        <button type="submit" class="logout-btn">ログアウト</button>
    </form>

    <hr>

</nav>


</div>
</body>
</html>