<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <nav th:fragment="publicHeader" id="navbar">
        <div class="logo">RESTAURANT</div>
        <button class="menu-toggle" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-links">
            <li><a th:href="@{/}">トップ</a></li>
            <li><a th:href="@{/menu}">メニュー</a></li>
            <li><a th:href="@{/info}">店舗情報</a></li>
            <li><a th:href="@{/access}">アクセス</a></li>
        </ul>
        <a th:href="@{/reservation}" class="btn btn--primary btn--small">予約</a>
    </nav>

</body>
</html>